.container {
    width: 1000px;
    height: 1000;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

#left :hover {
    text-decoration: underline;
}

#right :hover {
    text-decoration: underline;
}

#left img {
    width: 100px;
}

#left{
    display: inline-block;
    width: 60%;
}

#right{
display: inline-block;
width: 0%
margin: 11px;
}

#left>a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
    text-align: left;
}

#right>a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
    text-align: end;
}


#slider {
    display: flex;
    justify-content: center;
    margin: 10px  auto;
}

#spotlar {
    display: flex;
    justify-content: center;
}

.spot{
    margin: 3%;
    text-align: center;
}

#kutufoto{
    margin: 0 auto;
}


#kutudisi{
    width: 250;
    height: 250;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.kutu{
    width: 300px;
    height: 250px;
    background-color: bisque;
    margin: 15px;

}



